@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
} 

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo';
}
*, *:before, *:after {
    box-sizing:border-box;
}
body {
    width: 100%;
    overscroll-behavior: none;
}
a {
    text-decoration: none;
    color: #000;
}

/* header */
#header {
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(223, 223, 223);
}
#header h1 {
    width: 30%;
    font-weight: 700;
}
#header h1 em {
    font-size: 0.6em;
    font-style: normal;
    vertical-align: -2px;
}
#header nav {
    width: 70%;
    text-align: right;
}
#header nav li {
    display: inline;
    padding: 2px 0 2px;
    margin-left: 20px;
}
#header nav li a {
    padding: 2px 0 2px 34px;
    display: inline-block;
    position: relative;
}
#header nav li a::before {
    content: '';
    background-image: url(../img/quiz_icon.png);
    background-size: 200px;
    background-position: 0 -25px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
}
#header nav li.check a::before {
    background-position: 0 -50px;
}

/* footer */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgb(223, 223, 223);
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
}
#footer a {
    display: block;
    padding: 20px;
    font-size: 14px;
    color: #666;
}

/* main */
#main {
    height: 200vh;
    background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* loader */
.quiz__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.quiz__loader .loader {
	height: 32px;
	width: 32px;
	animation: loader1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
.quiz__loader .loader::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: auto;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #412E91;
	border-radius: 50%;
	animation: loader2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
.quiz__loader .loader::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: auto;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #412E91;
	border-radius: 50%;
    animation: loader3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
.quiz__loader .loader span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.quiz__loader .loader span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: auto; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #412E91;
	border-radius: 50%;
	animation: loader4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
.quiz__loader .loader span::after {
	content: "";
	display: block;
	position: absolute;
	top: auto; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #412E91;
	border-radius: 50%;
    animation: loader5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@keyframes loader1 {
	0%   {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@keyframes loader2 {
	0%   {transform: translate3d(0, 0, 0) scale(1);}
	50%  {transform: translate3d(24px, 0, 0) scale(.5);}
	100% {transform: translate3d(0, 0, 0) scale(1);}
}
@keyframes loader3 {
	0%   {transform: translate3d(0, 0, 0) scale(1);}
	50%  {transform: translate3d(-24px, 0, 0) scale(.5);}
	100% {transform: translate3d(0, 0, 0) scale(1);}
}
@keyframes loader4 {
	0%   {transform: translate3d(0, 0, 0) scale(1);}
	50%  {transform: translate3d(0, 24px, 0) scale(.5);}
	100% {transform: translate3d(0, 0, 0) scale(1);}
}
@keyframes loader5 {
	0%   {transform: translate3d(0, 0, 0) scale(1);}
	50%  {transform: translate3d(0, -24px, 0) scale(.5);}
	100% {transform: translate3d(0, 0, 0) scale(1);}
}

/* common */
.hide {
    display: none !important;
}

/* quiz__main */
.quiz__main {
    width: 100%;
    padding: 10%;
}
.quiz__main h2 {
    color: #fff;
    font-size: 4vw;
    font-weight: 200;
}
.quiz__main h2 em {
    font-size: 0.3em;
    font-style: normal;
    font-weight: 300;
    vertical-align: -5px;
}
.quiz__main .sub {
    color: #fff;
    padding: 10px 0 0 3px;
}
.quiz__main .select {
    margin-top: 10px;
}
.quiz__main .select li {
    list-style: none;
    display: inline;
}
.quiz__main .select a {
    padding: 10px 20px;
    display: inline-block;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    cursor: pointer;
    color: #fff;
    margin: 10px 10px 10px 0px;
}
.quiz__main .selected a {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.quiz__main .start {
    text-align: center;
}
.quiz__main .start a {
    margin-top: 100px;
    padding: 10px 40px;
}
.quiz__main hr {
    margin: 50px 0;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


/* 
    quiz__wrap : 퀴즈 
        quiz__number : 퀴즈 번호
        quiz__question : 퀴즈 문제
        quiz__img : 퀴즈 이미지
        quiz__choice : 퀴즈 보기
        quiz__next : 다음 퀴즈 보기
        quiz__indicator : 퀴즈 인디케이터
        quiz__hint : 퀴즈 힌트
*/

.quiz__wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.quiz__title {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    color: #fff;
    margin-top: 3%;
    padding: 10px 20px;
}
.quiz {
    width: 90%;
    margin: 2% 5% 5% 5%;
    padding: 40px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
}
.quiz__number {
    font-size: 40px;
    margin-bottom: 1vw;
    display: inline-block;
    color: rgb(187, 168, 255);
    font-weight: 900;
}
.quiz__question {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.quiz__question .qd {
    border: 1px solid #d2d2d2;
    background-color: #FAFAFA;
    font-size: 0.8em;
    padding: 15px;
    color: #666;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 30px;
}

.quiz__img {
    margin-bottom: 30px;
    text-align: center;
}
.quiz__img img {
    width: 40%;
    border: 1px solid #ccc;
}
.quiz__img > div {
    border: 1px solid #d2d2d2;
    background-color: #FAFAFA;
    font-size: 0.9em;
    padding: 15px;
    color: #666;
    margin-top: 10px;
    text-align: left;
    line-height: 1.5;
}


.quiz__choice .correct {
    background-color: #422e9124;
    border-color: #412E91;
    color: #412E91;
    position: relative;
}
.quiz__choice .correct::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 7px solid #412E91;
    border-radius: 50%;
    position: absolute; 
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.quiz__choice .incorrect {
    background-color: #912e3a19;
    border-color: #912e3a;
    color: #912e3a;
    position: relative;
}
.quiz__choice .incorrect::before {
    content: '';
    position: absolute; 
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #912e3a;
}
.quiz__choice .incorrect::after {
    content: '';
    position: absolute; 
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #912e3a;
}
.quiz__choice .clicked {
    pointer-events: none;
}
.quiz__choice > div {
    border: 1px solid #422e9123;
    margin-bottom: 0.5vw;
    cursor: pointer;
    padding: 15px 20px;
    transition: border 0.3s, color 0.3s;
    line-height: 1.4;
}
.quiz__choice > div:hover {
    border-color: #412E91;
    color: #412E91;
    box-shadow: 0.2vw 0.2vw 0.2vw #422e9123
}

/* quiz__next */
.quiz__next {
    margin-top: 20px;
}
.quiz__next .btn {
    display: block;
    border: 1px solid #422e9123;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    background-color: #422e910b;
    transition: all 0.3s;
    color: #412E91;
}
.quiz__next .btn:hover {
    border-color: #412E91;
    box-shadow: 0.2vw 0.2vw 0.2vw #422e9123
}

/* quiz__indicator */
.quiz__indicator {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #F2F2F2;
    background-color: #FAFAFA;
    position: relative;
}
.quiz__indicator em {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-style: normal;
    background: #412E91;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    vertical-align: 7px;
    display: none;
}
.quiz__indicator span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #412E91;
    box-shadow: 1px 1px #412E91;
    color: transparent;
    margin-right: 4px; 
}
.quiz__indicator span.correct {
    position: relative;
    background-color: #412E91;
}
.quiz__indicator span.correct::before {
    content: '';
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    display: block;
    position: absolute;
    left: 2px; top: 2px;
    border-radius: 50%;
}
.quiz__indicator span.incorrect {
    position: relative;
}
.quiz__indicator span.incorrect::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 7px;
    width: 14px;
    height: 4px;
    border-radius: 4px;
    background-color: #412E91;
    transform: rotate(45deg);
}
.quiz__indicator span.incorrect::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 7px;
    width: 14px;
    height: 4px;
    border-radius: 4px;
    background-color: #412E91;
    transform: rotate(-45deg);
}
.quiz__indicator .num {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
}

.quiz__hint {
    margin-top: 10px;
    padding: 48px 20px 20px 20px;
    border: 1px solid #F2F2F2;
    background-color: #FAFAFA;
    font-size: 14px;
    color: #666;
    position: relative;
    line-height: 1.6;
}
.quiz__hint::before {
    content: '!';
    width: 20px;
    height: 20px;
    background-color: #412E91;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    top: 20px;
}
.quiz__hint::after {
    content: '참고';
    display: inline-block;
    color: #412E91;
    margin-right: 5px;
    position: absolute;
    left: 45px;
    top: 18px;
    font-size: 16px;
}
.quiz__detail {
    margin-top: 10px;
    padding: 48px 20px 20px 20px;
    border: 1px solid #F2F2F2;
    background-color: #FAFAFA;
    font-size: 14px;
    color: #666;
    position: relative;
    line-height: 1.6;
}
.quiz__detail:hover a {
    text-decoration: underline;
    text-underline-position: under;
}
.quiz__detail::before {
    content: '!';
    width: 20px;
    height: 20px;
    background-color: #412E91;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    top: 20px;
}
.quiz__detail::after {
    content: '자세히 보기';
    display: inline-block;
    color: #412E91;
    margin-right: 5px;
    position: absolute;
    left: 45px;
    top: 18px;
    font-size: 16px;
}


/* 주관식 */

.quiz__confirm {
    width: 100%;
    border: 1px solid #422e9123;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    background-color: #422e910b;
    transition: all 0.3s;
    color: #412E91;
    cursor: pointer;
    font-size: 16px;
}
.quiz__answer {
    background-color: #422e9124;
    border-color: #412E91;
    color: #412E91;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.quiz__close {
    position: absolute;
    right: 15px;
    top: 15px;
}
.quiz__close span {
    width: 30px;
    height: 30px;
    display: inline-block;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    cursor: pointer;
    color: #fff;
    text-indent: -9999px;
}
.quiz__close span:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.quiz__close span::before {
    content: '';
    width: 18px;
    height: 2px;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    left: 5px;
    top: 13px;
    transform: rotate(-45deg);
}
.quiz__close span::after {
    content: '';
    width: 18px;
    height: 2px;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    left: 5px;
    top: 13px;
    transform: rotate(45deg);
}




@media (max-width: 800px){
    .quiz__main {
        padding: 15% 5% 5% 5%;
    }
    .quiz__main h2 {
        font-size: 50px;
    }
    .quiz__main h2 em {
        font-size: 14px;
    }
    .quiz__main .sub {
        margin-bottom: 20px;
    }
    .quiz__main .select a {
        margin: 5px 3px;
        font-size: 14px;
    }
    .quiz__main .start {
        margin-top: 50px;
    }
    .quiz__main hr {
        margin: 30px 0;
    }
    .quiz {
        padding: 16px;
        width: 94%;
        margin: 3%;
    }
    .quiz__number {
        font-weight: 100;
    }
    .quiz__question {
        font-size: 16px;
    }
    .quiz__indicator {
        display: none;
    }
    .quiz__choice > div {
        padding: 10px;
        font-size: 14px;
    }
    .quiz__choice .correct {
        padding-right: 44px;
    }
    .quiz__choice .incorrect {
        padding-right: 44px;
    }
    .quiz__question .qd {
        padding: 10px;
        font-size: 14px;
    }
    .quiz__img img {
        width: 100%;
    }
    
}