/* blog__cont */
.blog__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog__cont .blog {
    width: 32%;
    display: block;
    margin-bottom: 80px;
}
.blog__header {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.blog__header .info {
    overflow: hidden;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    padding: 70% 5% 5%;
    box-sizing: border-box;
}
.blog__header .info .author {
    float: left;
    position: relative;
    padding-left: 40px;
}
.blog__header .info .author::before {
    content: '';
    width: 30px;
    height: 30px;
    background: url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    position: absolute;
    left: 0; bottom: -4px;
    border-radius: 50%;
}
.blog__header .info .date {
    float: right;
    font-size: 0.8em;
    display: none;
}

.blog:nth-child(1) .blog__header {
    background: url(../img/card_bg01.jpg) no-repeat;
    background-size: cover;
}
.blog:nth-child(2) .blog__header {
    background: url(../img/card_bg02.jpg) no-repeat;
    background-size: cover;
}
.blog:nth-child(3) .blog__header {
    background: url(../img/card_bg03.jpg) no-repeat;
    background-size: cover;
}
.blog:nth-child(4) .blog__header {
    background: url(../img/card_bg01.jpg) no-repeat;
    background-size: cover;
}
.blog:nth-child(5) .blog__header {
    background: url(../img/card_bg02.jpg) no-repeat;
    background-size: cover;
}
.blog:nth-child(6) .blog__header {
    background: url(../img/card_bg03.jpg) no-repeat;
    background-size: cover;
}
.blog__body {
    text-align: left;
    width: 100%;
}
.blog__body .cate {
    background: #FF5151;
    border-radius: 20px;
    padding: 3px 15px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}
.blog__body .title {
    width: 100%;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.blog__body .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    font-weight: 300;
}
.blog__footer {
    text-align: left;
    margin-top: 20px;
}
.blog__footer a {
    background: #000;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
}

/* blog__pages */
.blog__pages {
    margin-top: 40px;
}
.blog__pages ul {
    display: flex;
    justify-content: center;
}
.blog__pages ul li a {
    display: block;
    border: 1px solid #eee;
    font-size: 14px;
    margin-left: -1px;
    width: 34px; 
    height: 34px;
    border-radius: 50%;
    line-height: 34px;
    margin: 5px;
}
.blog__pages ul li.active a {
    background: #000;
    color: #fff;
}

/* blog__btn */
.blog__btn {
    text-align: center;
    margin-top: 40px;
}
.blog__btn a {
    display: inline-block;
    text-align: center;
    background: #f5f5f5;
    border-radius: 3px;
    color: #000;
    border: 1px solid #dddddd;
    margin-top: 50px;
    padding: 15px 50px;
}