body {
  background-color: #eeeae4;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

#about {
}

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #eeeae466;
  backdrop-filter: blur(20px);
}
#header > div {
  font-family: Abel;
}
#header > div:nth-child(1) {
  width: 30%;
}
#header > div:nth-child(2) {
  width: 40%;
  text-align: center;
  font-size: 30px;
}
#header > div:nth-child(3) {
  width: 30%;
  text-align: right;
}

/* sec1 */
.sec1 {
  text-align: center;
  font-size: 10vw;
  font-weight: normal;
  margin: 9vw 3vw 5vw;
}
.sec1 h1 {
  font-family: "Partizeno";
}
.sec1 h1 em {
  font-family: "Poppins";
  font-weight: 100;
  color: #1b6856;
}

/* menu */
.menu {
}
.menu ul {
  display: flex;
}
.menu li {
  width: 20%;
  text-align: center;
}
.menu li a {
  position: relative;
  font-family: Abel;
  font-size: 18px;
}
.menu li a em {
  position: absolute;
  left: 0;
  top: -25px;
  opacity: 0.5;
  font-size: 14px;
}

/* desc */
#desc {
  background-color: #252825;
  height: 5000px;
  margin-top: 100px;
}
.desc {
  padding: 300px 0 200px;
}
.desc .title {
  font-size: 5vw;
  font-family: "Partizeno";
  text-transform: capitalize;
  color: #b6a79a;
  margin-bottom: 4vw;
  text-align: left;
}

.desc .view {
  display: flex;
  justify-content: space-between;
}
.desc .view.v2 {
  flex-direction: row-reverse;
}
.desc .view .left {
  width: 55%;
  color: #b6a79a;
}
.desc .view .left h3 {
  font-size: 30px;
  font-family: "IropkeBatang";
  font-weight: normal;
  margin-bottom: 1vw;
  margin-top: 4vw;
}
.desc .view .left p {
  font-family: "IropkeBatang";
  font-size: 18px;
  word-break: keep-all;
}
.desc .view .right {
  width: 36%;
}
.desc .view .right .img1 {
  width: 100%;
  height: 650px;
  background: url(https://images.unsplash.com/photo-1664445866499-a032f4db7326?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80)
    no-repeat center / cover;
  border-radius: 400px;
}

.desc2 .title {
  font-size: 5vw;
  font-family: "Partizeno";
  text-transform: capitalize;
  color: #b6a79a;
  margin-bottom: 4vw;
  text-align: left;
}
.desc2 .view {
  display: flex;
  justify-content: space-between;
}
.desc2 .view .left {
  width: 45%;
  color: #b6a79a;
  font-family: "IropkeBatang";
  font-size: 24px;
  font-weight: 300;
}
.desc2 .view .right {
  width: 48%;
}
.desc2 .view .right p {
  margin-bottom: 1vw;
  font-family: "IropkeBatang";
  font-size: 18px;
  word-break: keep-all;
  color: #b6a79a;
}
