@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@font-face {font-family: "Porter Sans Block";
    src: url("http://db.onlinewebfonts.com/t/79337523b071e6653b84176318c949cb.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/79337523b071e6653b84176318c949cb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/79337523b071e6653b84176318c949cb.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/79337523b071e6653b84176318c949cb.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/79337523b071e6653b84176318c949cb.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/79337523b071e6653b84176318c949cb.svg#Porter Sans Block") format("svg"); /* iOS 4.1- */
}
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 
#section1 {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: url(https://sungilryuu.github.io/webs_class/portfolio/work/assets/img/mainbg.jpg) no-repeat center top;
    background-size: 100%;
    overflow: hidden;
}



#section3 {}

#section4 {}

#section5 {}

#section6 {}

#section3 {background-color: #b9b3a9; height: 100vh;}

.sec1-2 {background-color: #b9b3a9; height: 100vh;} 
.sec1-3 {background-color: #51442b; height: 100vh;} 


/* sec1 */
.sec1_imgWrap {
    height: 100vh;
}
.sec1_imgWrap>div {
    position: absolute;
}
.sec1_img1 {
    border: 0.4vw solid #000;
    left: 38.1vw;
    top: 10.7vw;
    width: 33.7vw;
    height: 30.7vw;
    background: url(https://images.unsplash.com/photo-1557458249-1be70955065c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8TG91dnJlfHx8fHx8MTY1Mzk4MDk3Mg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=800);
    background-size: cover;
}
.sec1_img2 {
    left: 88.1vw;
    top: 12.8vw;
    width: 18vw;
    height: 22.7vw;
    border: 0.4vw solid #000;
    background: url(https://sungilryuu.github.io/webs_class/portfolio/work/assets/img/complete/face1.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    filter: saturate(10%);
}
.sec1_text1 {
    position: absolute;
    top: 40vw;
    right: 5vw;
}
.sec1_text1 h2 {
    font-family: 'Kumbh Sans';
    font-size: 3vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 100;
}
.sec1_text1 p {
    font-family: 'Wooridaum';
}

.sec1-4 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1-4 > div {
    
    
}


.sec1-4 > div h2 {
    font-size: 5.5vw;
    font-family: "Kumar One";
    color: #fff;
    background: #2D6EC7;
    display: inline-block;
    border-radius: 100px;
    padding: 2vw 3vw 1vw 3vw;
    line-height: 1;
    position: relative;
    margin-left: 10vw;
}
.sec1-4 > div h2::after {
    content: 'site';
    position: absolute;
    right: -5vw; top: -3vw;
    font-family: 'Abel';
    color: #fb8662;
    font-size: 20px;
    text-transform: uppercase;
    font-size: 3vw;
}

.sec1-4 > div h3 {
    font-size: 11vw;
    font-family: "Porter Sans Block";
    padding-left: 20vw;
    line-height: 1.3;
}



/* section2 */
#section2 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
.sec2_wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sec2_wrap > div {
    min-width: 100vw;
    height: 100vh;
}
.sec2-2 {background-color: #b9b3a9;} 
.sec2-3 {background-color: #51442b;} 


.site1 {
    padding: 5vw;
}
.site1 h2 {
    display: inline-block;
    background: #000;
    color: #fff;
    font-family: "Abel";
    padding: 0 40px;
    font-size: 5vw;
}
.site1 h2 em {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-size: 4.3vw;
    vertical-align: 4px;
}
.site1 .img {
    width: 95%;
    margin-left: 5%;
    height: 60vh;
    background: #ccc;
    margin-top: -4vw;
    background: url(https://images.unsplash.com/photo-1648737119359-510d4f551382?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2344&q=80) no-repeat center;
    background-size: cover;
} 
.site1 .desc {
    padding: 20px 10vw;
    display: flex;
    font-family: 'GmarketSans';
}
.site1 .desc h3 {
    width: 30%;
    font-weight: 700;
    font-size: 2rem;
    position: relative;
}
.site1 .desc h3::before {
    content: '';
    position: absolute;
    left: -40px; top: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
}
.site1 .desc p {
    width: 70%;
    font-size: 18px;
    text-align: justify;
    font-weight: 300;

}


/* clock */
#clock-body {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 0.2vw solid #000;
}

#center,
#seconds,
#minutes,
#hours {
    position: absolute;
    background-color: #000;
    backface-visibility: hidden;
    outline: 1px solid transparent;
}

#center {
    z-index: 4;
    height: 3%;
    width: 3%;
    top: 50%;
    margin-top: -1.5%;
    left: 50%;
    margin-left: -1.5%;
    border-radius: 100%;
    background: #fd746c;
    background: linear-gradient(to left, #fd746c, #ff9068);
    border: 3px solid #000;
}

#seconds {
    z-index: 1;
    left: 50%;
    margin-left: -0.3%;
    bottom: 50%;
    width: 0.6%;
    height: 49%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    transform-origin: bottom;
}

#minutes {
    z-index: 2;
    left: 50%;
    margin-left: -0.7%;
    bottom: 50%;
    width: 1.4%;
    height: 47%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    transform-origin: bottom;
}

#hours {
    z-index: 3;
    left: 50%;
    margin-left: -0.7%;
    bottom: 50%;
    width: 1.4%;
    height: 36%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transform-origin: bottom;
}

.post-wrap {
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    position: absolute;
    top: 11vw;
    left: 21vw;
    overflow: hidden;
    /* background: rgba(0,20,0,0.08); */
    border-radius: 50%;
    box-shadow: 3px 6px 10px rgba(0,0,0,0.3);
}