/* layout */
#section1 {
    height: 5000px;
}
#section2 {
    height: 3000px;
    background: #000;
}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/* scroll */
.scroll {
    position: fixed;
    left: 10px;
    bottom: 10px;  
    background: rgba(0,0,0,0.3);
    color: #fff;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    z-index: 10000000;
}

/* header */
#header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10000;
    display: flex;  
    justify-content: space-between;
}
#header h1 {
    padding: 10px;
    font-family: 'GmarketSans';
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}
#header h1 .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
    vertical-align: -4px;
    margin: 0 5px;
}
#header h2 {
    padding: 10px;
    font-family: 'GmarketSans';
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
#header h2 .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    vertical-align: -4px;
    margin: 0 5px;
}

/* common */
.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* sec1 */
.sec1_box1 {
    width: 50vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    left: 0;    
    top: 0;
}
.sec1_box2 {
    width: 50vw;
    height: 100vh;
    background: #000 url(https://images.unsplash.com/photo-1659194612634-38b6281e150b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1015&q=80) center no-repeat;
    background-size: cover;
    left: 50%;
    top: 0;
    position: fixed;
}
.sec1_box3 {
    font-family: 'GmarketSans';
    font-size: 8vw;
    font-weight: 300;
    white-space: nowrap;
    color: #fff;
    line-height: 1;
    mix-blend-mode: difference;
    z-index: 1000;
}
.sec1_box4 {
    border-radius: 50%;
    background: #000;
}
.sec1_box5 {
    width: 100%;
    height: 100vh;
    background: #ccc;
    z-index: 1000;
}
.sec1_box6 {
    z-index: 1001;
    text-align: center;
    font-size: 2vw;
    white-space: nowrap;
    font-weight: 300;
    
    perspective: 600px;
}
.sec1_box6 div {
    margin: 5px 0;
    overflow: hidden;
    transform-style: preserve-3d;
}
.sec1_box6 div span {
    display: inline-block;
    transform: translateY(0px);
    color: #fff;
}


/* sec2_box1 */
.sec2_box1 {
    z-index: 2000;
    display: flex;
}
.sec2_box1 > div {
    width: 10vw;
    height: 100vh;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(18, 18, 18) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2_box1 > div span {
    font-family: 'GmarketSans';
    font-size: 2vw;
    font-weight: 300;
    text-transform: uppercase;
}

.sec2_box2 {
    z-index: 2100;
    display: flex;
}
.sec2_box2 .left {
    width: 30vw;
    height: 100vh;
    background: #000;
}
.sec2_box2 .right {
    width: 70vw;
    height: 100vh;
    background: #fff;
}

.sec2_box3 {
    width: 100%;
    height: 100vh;
    z-index: 2300;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2_box3 .img {
    width: 28vw;
    height: 28vw;
    background: url(https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2369&q=80) no-repeat center / cover;
}
.sec2_box3 .text {
    width: 50vw;
    height: 36vw;
    /* background: #ccc; */
    padding: 5vw;
}
.sec2_box3 .text h3 {
    font-size: 90px;
    position: relative;
    margin-bottom: 4vw;
    text-transform: capitalize;
    letter-spacing: -1px;
}
.sec2_box3 .text h3 span {
    position: absolute;
    right: -8vw;
    top: -14vw;
    opacity: 0.04111;
    font-size: 24vw;
    font-weight: bold;
}
.sec2_box3 .text p {
    font-weight: 300;
    margin-bottom: 4vw;
    font-size: 20px;
    word-break: keep-all;
}
.sec2_box3 .text .btn a {
    background: #000;
    color: #fff;
    padding: 0.5vw 1vw;
    display: inline-block;
}