/* layout */
#contents {}
#section1 {}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}


/* section1 */
#header {
    position: fixed;
    left: 0px; top: 0px;
    width: 100%;
    z-index: 10000;
    background: #fff;
    padding: 10px 10px 0px 10px;
}
.header_inner {
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    background: rgba(255,255,255,1);
    
    backdrop-filter: blur(10px);
}
#header h1 {
    font-size: 20px;
    padding: 5px 5px 5px 10px;
    line-height: 1;
}
#header nav ul {
    overflow: hidden;
}
#header nav li {
    float: left;
    border-left: 2px solid #000;
    padding: 5px;
}
#header nav li a {
    padding-left: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* sec1 */
.sec1 {
    border: 2px solid #000;
    margin: 55px 10px 5px 10px;
    padding: 200px 0;
}
.sec1 h1 {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 12vw;
    line-height: 1.2;
    font-family: 'Ms Madi';
    font-weight: normal;
    text-transform: capitalize;
    transform: rotate(-30deg);
}
.sec1 .img {
    border: 2px solid #000;
    margin: 20px;
}
.sec2 {
    padding: 10px;
}
.sec2 h2 {
    border: 2px solid #000;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Lexend';
    font-weight: normal;
    text-transform: capitalize;
    padding: 5px;
    margin-bottom: 10px;
}
.sec2 .about {
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
    padding: 10px;
}
.sec2 .about .left {
    width: calc(50% - 5px);
    border: 2px solid #000;

}
.sec2 .about .right {
    width: calc(50% - 5px);
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-family: 'NexonLv1Gothic';
}
.sec2 .about .right h3 {
    font-size: 40px;
    margin-bottom: 10px;
}
.sec2 .about .right p{
    padding: 0 4vw;
    font-size: 20px;
    font-weight: 300;
    word-break: keep-all;
    line-height: 1.6;
}