body {
    height: 100000px;
    overscroll-behavior: none;
}

/* scroll */
.scroll {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 50px;
    color: #fff;
    z-index: 10000;
}

#section1 {
    
    height: 4000px;
}
#section2 {
    background: #ccc;
}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/* fixed */
.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    color: #fff;
    font-family: 'Jost';
    text-transform: uppercase;
    font-weight: 800;
    padding: 40px;
}
#header h1 {
    font-size: 16px;
    font-weight: 800;
}


/* sec1 */
.sec1 {
    background: #F22511;
    height: 4000px;
}
.sec1_ani1 {
    width: 98%;
    height: 96vh;
    background-image: url(https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    filter: saturate(10%);
}
.sec1_ani2 {
    font-family: 'Jost';
    font-size: 12vw;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    opacity: 0;
}
.sec1_ani2 > div {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
}
.sec1_ani3 { 

}