/* layout */
#contents {}
#section1 {
    background: #f2ede8;
}
#section2 {
    background: #f2ede8;
}
#section3 {
    background: #f2ede8;
}
#section4 {
    background: #E4D5C3;
}
#section5 {
    background: #E4D5C3;
}
#section6 {
    background: #f2e0c7;
}

/* header */
#header {
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    padding: 20px;
    z-index: 10000;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
}
#header h1 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}
#header h1 em {
    display: block;
    font-size: 10px;
    color: #8A8A8A
}
#header nav li {
    display: inline;
}
#header nav li a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px;
}

/* sec1 */
.sec1 {
    padding: 20px;
    padding-top: 30vh;
}
.about__desc div {
    width: 100%;
    background: #000;
    margin-bottom: 10px;
}
.about__desc .line1 {height: 1px;}
.about__desc .line2 {height: 3px;}
.about__desc .line3 {height: 6px}
.about__desc .line4 {height: 9px}
.about__desc .line5 {height: 12px}
.about__desc .line6 {height: 15px}
.about__desc .line7 {height: 18px}
.about__desc .line8 {
    color: #fff; font-size: 30px; overflow: hidden; 
    height: 50px;
}
.about__desc .line8 em {
    display: block;
    transform: translateY(100px);
    padding: 4px 20px;
    width: 100%;
}
.about__title {
    margin-bottom: 20px;
    line-height: 0.83;
    padding-top: 1vw;
    overflow: hidden;
}
.about__title h2 {
    font-size: 10vw;
    font-family: 'GmarketSans';
    font-weight: 900;
    text-transform: uppercase;
    margin-left: -.81vw;
}
.about__title h2 span {
    display: inline-block;
    min-width: 3vw;
}
.about__intro {
    background: #CBC0B3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15vw 0;
    position: relative;
}
.about__intro .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 100;
}
.about__intro .text > div {
    font-size: 3vw;
    line-height: 1;
    font-family: 'Montserrat';
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    color: #5f5953;
}
.about__intro #webgl {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
}

/* sec2 */
.sec2 {
    padding: 20px;
}
.intro {
    margin-top: 15vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.intro__title {
    position: sticky;
    top: 100px;
    left: 0;
    width: 50%;
    height: 70px;
    font-size: 3vw;
    line-height: 1;
    font-family: 'GmarketSans';
    font-weight: 900;
    text-transform: uppercase;
    color: #2B2B2B;
    border-bottom: 1px solid #5f5953;
}
.intro__desc {
    width: 45%;
    font-family: 'GmarketSans';
    border-bottom: 1px solid #5f5953;
    font-weight: 300;
}
.intro__desc h3 {
    font-size: 10vw;
    line-height: 1;
    font-family: 'GmarketSans';
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #5f5953;

}
.intro__desc p {
    padding: 5% 5% 30% 0;
    font-size: 20px;
    text-align: justify;
}

/* sec3 */
.sec3 {
    padding: 20vw 20px 20px 20px;
    height: 2000px;
}
.sec3 h3 {
    font-weight: 900;
    font-size: 3vw;
    line-height: 1;
    font-family: 'GmarketSans';
    font-weight: 900;
    text-transform: uppercase;
    color: #2B2B2B;
    border-bottom: 1px solid rgb(95, 89, 83);
    width: 100%;
    height: 70px;
    position: sticky;
    top: 100px;
    left: 0;
    z-index: 100;
}
.sec3 > h3 em {
    font-size: 0.3em;
    font-weight: 400;
    vertical-align: -4px;
}
.sec3 .youtube {
    margin-top: 20px;
    background: #C9C8C9;
    height: 700px;
    padding: 5%;
    display: flex;
    position: sticky;
    left: 0;
    top: 190px;
}
.sec3 .youtube .left {
    width: 70%;
}
.sec3 .youtube .right {
    width: 30%;
}
.sec3 .youtube2 {
    margin-top: 20px;
    background: #bababa;
    height: 700px;
    padding: 5%;
    display: flex;
    position: sticky;
    left: 0;
    top: 200px;
}


/* sec4 */
.sec4 {
    padding: 20vw 20px 20px 20px;
}
.sec4 h3 {
    font-weight: 900;
    font-size: 3vw;
    line-height: 1;
    font-family: 'GmarketSans';
    font-weight: 900;
    text-transform: uppercase;
    color: #2B2B2B;
    border-bottom: 1px solid rgb(95, 89, 83);
    width: 100%;
    height: 70px;
    position: sticky;
    top: 100px;
    left: 0;
    z-index: 100;
}
.sec4 > h3 em {
    font-size: 0.3em;
    font-weight: 400;
    vertical-align: -4px;
}
.port-wrap {
    
    margin-top: 20px;
}
.port-article1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: sticky;
    left: 0;
    top: 190px;
   
}
.port-article2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: sticky;
    left: 0;
    top: 200px;
}
.port-article3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: sticky;
    left: 0;
    top: 210px;
}
.port-article4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: sticky;
    left: 0;
    top: 220px;
}
.port-article5 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: sticky;
    left: 0;
    top: 190px;
}
.port-wrap .port {
    background: #7e572b;
    position: relative;
}
.port-wrap .port img {
    opacity: 0.5;
    transition: all 0.3s;
}
.port-wrap .port:hover img {
    opacity: 1;
}
.port-wrap .port .info {
    position: absolute;
    left: 0; bottom: 0;
    background: #e4d5c358;
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 15px;
    font-family: 'GmarketSans';
}
.port-wrap .port .info h4 {
    line-height: 1;
    font-family: 'GmarketSans';
    font-weight: 500;
    font-size: 40px;
    color: #7e572b;
    padding-top: 20px;
    border-bottom: 1px solid #7e572b;
    padding-bottom: 15px;
}
.port-wrap .port .info li {
    padding: 10px 0;
    border-bottom: 1px solid #7e572b;
    font-family: 'GmarketSans';
}



/* sec5 */
.sec5 {
    padding: 20vw 20px 20px 20px;
}
.sec5 > h3 {
    font-weight: 900;
    font-size: 3vw;
    line-height: 1;
    font-family: 'GmarketSans';
    font-weight: 900;
    text-transform: uppercase;
    color: #2B2B2B;
    border-bottom: 1px solid rgb(95, 89, 83);
    width: 100%;
    height: 70px;
    position: sticky;
    top: 100px;
    left: 0;
    z-index: 100;
}
.sec5 > h3 em {
    font-size: 0.3em;
    font-weight: 400;
    vertical-align: -4px;
}

.list-wrap {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 200%;
}
.list-wrap .list {
    width: 500px;
    height: 700px;
    background: #AFA7A2;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 40px;
}
.list-wrap .list span {
    font-family: 'GmarketSans';
    opacity: 0.5;
    padding-bottom: 10px;
    display: inline-block;
}
.list-wrap .list h3 {
    font-size: 20px;
    text-align: center;
    padding: 30px 0 10px;
    font-weight: 900;
    color: #2B2B2B;
    border-bottom: 1px solid rgb(95, 89, 83);
    font-family: 'GmarketSans';
}
.list-wrap .list p {
    padding-top: 20px;
    font-family: 'GmarketSans';
}
.list-wrap .list .img {
    width: 100%;
    height: 300px;
    background: #000;
    border-radius: 10px;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: saturate(0%);
    transition: all 1s;
    opacity: 0.8;
    display: block;
}
.list-wrap .list .img:hover {
    filter: saturate(80%);
}
.list-wrap .list.l1 {}
.list-wrap .list.l2 {background-color: #82887C;}
.list-wrap .list.l3 {background-color: #AFA7A2;}
.list-wrap .list.l4 {background-color: #ac9983;}

.list-wrap .list.l1 .img {
    background-image: url(../img/p1.jpg);;
    background-color: #AFA7A2;

}
.list-wrap .list.l2 .img { 
    background-image: url(../img/p2.jpg);;
    background-color: #AFA7A2;
}



/* sec6 */
.sec6 {
    padding: 20vw 20px 20px 20px;
}
.sec6 > h3 {
    font-weight: 900;
    font-size: 3vw;
    line-height: 1;
    font-family: 'GmarketSans';
    font-weight: 900;
    text-transform: uppercase;
    color: #2B2B2B;
    border-bottom: 1px solid rgb(95, 89, 83);
    width: 100%;
    height: 70px;
    position: sticky;
    top: 100px;
    left: 0;
    z-index: 100;
    margin-bottom: 30px;
}
.sec6 > h3 em {
    font-size: 0.3em;
    font-weight: 400;
    vertical-align: -4px;
}

.roadmap {
    font-family: 'GmarketSans';
}
.roadmap-row {
    display: grid;
    grid-template-columns: 15% 80% 5%;
    grid-template-rows: 70px;
    background-image: linear-gradient(to right, #222 0 10%, rgba(255, 255, 255, 0) 10%);
    background-position: top;
    background-size: 8px 1px;
    background-repeat: repeat-x;
}
.roadmap-col {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, #222 0 10%, rgba(255, 255, 255, 0) 10%);
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 1px 8px;
    padding: 10px;
}
.roadmap-col.ce {
    justify-content: center;
}
.roadmap-col.none {
    background-image: none
}


.troadmap {
    font-family: 'GmarketSans';
    background-image: linear-gradient(to right, #222 0 10%, rgba(255, 255, 255, 0) 10%);
    background-position: bottom;
    background-size: 8px 1px;
    background-repeat: repeat-x;
    width: 300%;
}
.troadmap tr {
    background-image: linear-gradient(to right, #222 0 10%, rgba(255, 255, 255, 0) 10%);
    background-position: top;
    background-size: 8px 1px;
    background-repeat: repeat-x;
}
.troadmap td {
    padding: 20px;
    background-image: linear-gradient(to bottom, #222 0 10%, rgba(255, 255, 255, 0) 10%);
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 1px 8px;
}
.troadmap .ce {
    text-align: center;
}
.time {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}
.time.green {
    background: #aaeec4;
    color: #000;
}
.time.pupple {
    background: #502bd8;
    color: #fff;
}
.time.green .ico-clock {
    background-image: url(../css/clock-black.svg);
}


.time.p100 {margin-left: 100px;}
.time.p200 {margin-left: 200px;}
.time.p300 {margin-left: 300px;}
.time.p400 {margin-left: 400px;}
.time.p500 {margin-left: 500px;}
.time.p600 {margin-left: 600px;}
.time.p700 {margin-left: 700px;}
.time.p800 {margin-left: 800px;}
.time.p900 {margin-left: 900px;}

.time em, 
.time span {
    display: inline-block;
}
.time span {
    padding-right: 20px;
}
.time em {
    padding-left: 25px;
}
.ico-svg {
    position: relative;
    display: inline-block;
    height: auto;
    fill: #fff;
    transition: all .3s;
}
.ico-clock {
    background-image: url(../css/clock-white.svg);
    background-position: left center;
    background-repeat: no-repeat;
}