body {
  background-color: $bg-basic;
}

// skip
#skip {
  position: relative;
  z-index: 100000;
}
#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 20px 40px;
  left: -400px;
  top: 5px;
}
#skip a:active,
#skip a:focus {
  left: 5px;
}

// container
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  // background-color: rgba(0, 0, 0, 0.03);
}

#hide {
  h2 {
    margin-top: 50px;
  }
  border-bottom: 2px solid #000;
  padding-bottom: 50px;

  .hide__inner {
    h3 {
      padding: 10px 0;
    }
    
    li {
      line-height: 1.4;
    }
    a {
      &:hover {
        color: red
      }
    }
  }
}