/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

.k {font-family: 'Keania One';}
.f {font-family: 'Faster One';}
.a {font-family: 'Fascinate Inline';}
.t {font-family: 'Tapestry';}
.b {font-family: 'Berkshire Swash';}


/* layout */
#contents {}
#section1 {
    height: 100vh;
    width: 100%;
}
#section2 {
    background-color: #000;
}
#section3 {
    background-color: #000;
}
#section4 {}
#section5 {}
#section6 {}

/* container */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* sec1 */
.sec1 {}
.sec1 .text-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    z-index: 19;
}
.sec1 .text-wrap span {
    font-size: 16vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    opacity: 0;
}
.sec1 .text-wrap .t1 {left: 6%; top: 70%; font-size: 20vw;}
.sec1 .text-wrap .t2 {left: 20%; top: 30%;}
.sec1 .text-wrap .t3 {left: 30%; top: 65%;}
.sec1 .text-wrap .t4 {left: 40%; top: 35%;}
.sec1 .text-wrap .t5 {left: 50%; top: 50%;}
.sec1 .text-wrap .t6 {left: 60%; top: 65%;}
.sec1 .text-wrap .t7 {left: 70%; top: 30%;}
.sec1 .text-wrap .t8 {left: 80%; top: 40%;}
.sec1 .text-wrap .t9 {left: 90%; top: 60%;}

.sec1 .img-wrap > span {
    display: block;
    position: absolute;
    z-index: 100;
}
.sec1 .img-wrap .i1 {
    width: 10vw;
    height: 10vw;
    left: 10%;
    top: 5%;
}
.sec1 .img-wrap .i1 .line {
    animation: stroke 2.2s 1s 1 linear both;
}
.sec1 .img-wrap .i2 {
    width: 10vw;
    height: 10vw;
    left: 55%;
    top: 15%;

}

.sec1 .img-wrap .i2 .line {
    stroke: rgb(255, 255, 255);
}
.sec1 .img-wrap .i2.show .line {
    animation: stroke 2.2s 1s 1 linear both;
}
.sec1 .img-wrap .i2.show .bg {
    animation: show 2.2s 1.8s 1 linear both;
}
@keyframes show {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes stroke {
    0%   {
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 90%;
        stroke-width: 0;
    }
    100% {
        stroke: rgb(0, 0, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 90% 0;
        stroke-width: 2;
    }
}

/* sec2_about */
.sec2 {
    padding: 200px 0;
}
.sec2_about {
    display: flex;
    justify-content: space-between;
}
.sec2_about .left {
    width: 50%;
    position: relative;
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.4s;
}
.sec2_about .left .img {
    background: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80) no-repeat center / cover;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
}
.sec2_about .left .high {
    position: absolute;
    left: 0;
    top: 60%;
    background: url(../img/high.svg) no-repeat;
    background-size: contain;
    width: 50%;
    height: 50%;
}

.sec2_about .right {
    width: 44%;
    font-family: 'Syncopate';
}
.sec2_about .right h2 {
    color: #fff;
    font-size: 4vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}
.sec2_about .right h2 em:nth-child(1){
    margin-left: -130px;
}
.sec2_about .right h2 em:nth-child(2){
    margin-left: -50px;
}
.sec2_about .right p {
    color: #fff;
    font-family: 'NexonLv1Gothic';
}

#section2.show .sec2_about .left {
    opacity: 1;
    transform: translateY(0px);
}

/* sec3 */
.sec3 {padding-top: 200px;}
.sec3 h2 {
    background: url(https://munich.qodeinteractive.com/wp-content/uploads/2022/03/landing-bottom-bg-img.jpg) no-repeat center;
    text-align: center;
    color: #fff;
    font-family: 'Syncopate';
    padding: 10vw 0;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 0.9;
}
.sec3 h2 em {
    display: block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #fff;
}
.site-wrap {
    height: 3000px;
    background: #000;
}

.site {
    padding: 200px 0;
    display: flex;
    justify-content: space-between;
}
.site .left {
    width: 50%;
    height: 500px;
}
.site .left .img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    background: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80) no-repeat center;
    background-size: cover;
}
.site .right {
    width: 50%;
    height: 500px;
    color: #fff;
}
.site .right h3 {
    font-size: 5vw;
    font-family: 'Syncopate';
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -40%;
    margin-top: 3vw;
}
.site .right p {
    font-family: 'NexonLv1Gothic';
    padding-right: 30%;
    padding-left: 4%;
    word-break: keep-all;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.site .right .btn {
    padding-left: 4%;
}
.site .right .btn a {
    display: inline-block;
    background: #fff;
    color: #000;
    font-family: 'NexonLv1Gothic';
    padding: 10px 50px;
    margin-right: 5px;
}


@media (max-width: 600px){
    .sec1 .text-wrap .t4 {
        left: 0%;
        top: 0%;
    }
}