/* layout */
#section1 {
    background: #f1f1f1;
}

#section2 {
    background: #f1f1f1;
    height: 4000px;
}


/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Abel';
    z-index: 10000;
}
#header .nav li {
    display: inline-block;
}
#header .nav li:last-child {
    margin-left: 200px;
    text-decoration: underline;
}
#header .nav li a {
    padding: 10px;
    font-size: 18px;
}

/* sec_text1 */
.sec1_text1 {
    padding: 200px 5%;
    font-family: 'Jost', sans-serif;
    font-size: 7vw;
    line-height: 1.1;
    font-weight: 100;
    letter-spacing: -2px;
    text-transform: uppercase;
}
.sec1_text1 span {
    width: 20vw;
    height: 5vw;
    background: #B7D454;
    display: inline-block;
    margin-right: 2vw;
    border-radius: 50px;
}
.sec1_text2 {
    padding: 70px 20px 250px;
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    color: #666;
    font-size: 14px;
    position: relative;
}
.sec1_text2 .arrow {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    border: 2px solid #666;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M7.75 1.542L16.75 10.015L7.75 18.042' stroke='%23666' stroke-width='1.667'/%3E%3Cpath d='M16.083 10H1.5' stroke='%23666' stroke-width='1.667' stroke-linecap='square'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    line-height: 40px;
    transform: scale(0.8) rotate(90deg);
}

/* sec2 */
.sec2_title {
    background-color: #004D43;
    color: #fff;
    font-size: 20vw;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    padding: 3vw 5vw;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: -1vw;
    border-radius: 60px 60px 0 0;
}
.sec2_title span {
    display: inline-block;
    margin: 30px;
}
.sec2_about {
    background-color: #CDEA68;
    height: 800px;
    padding: 10%;
    font-family: 'GmarketSans';
    font-size: 40px;
    font-weight: 300;
    border-radius: 60px 60px 0 0;
    margin-top: -100px;
}


@media (max-width: 800px){
    #header nav {
        display: none;
    }
    .sec1_text1 {
        font-size: 60px;
        text-align: center;
        position: relative;
    }
    .sec1_text1 span {
        position: absolute;
        right: 10px;
        bottom: 30px;
        width: 300px;
        height: 60px;
    }
    .sec1_text2 {
        flex-direction: column;
    }
    .sec1_text2 .arrow {
        top: 90px;
    }
}